<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактор изображений</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="container mt-5">
    <h1 class="text-center">Редактор изображений</h1>
    <form action="{{ url_for('upload_image') }}" method="post" enctype="multipart/form-data" class="text-center">
        <input type="file" name="file" class="form-control mb-3">
        <button type="submit" class="btn btn-primary">Загрузить</button>
    </form>
</div>

</body>
</html>
